@inherits LayoutComponentBase

<div class="page" style="height: 100vh; overflow: hidden; background-color: #0A0F1D;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="padding: 0; background-color: transparent;">
        <article class="content" style="padding: 0;">
            @Body
        </article>
    </main>
</div>